form {
   margin-top: 5%;
   text-align: center;
   width: 15%;
}
.contenedor {
    width: 100%;
    height: 100%;
}

.subContenedor {
    width: 400px;
    height: 400px;
    background-image: url(./clipart112274.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@font-face {
    font-family: 'Display';
    font-style: normal;
    font-weight: 400;
    src: local('Display'), local('Display'),
         url('./FrederickatheGreat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  h4 {
      font-family: 'Display';
  }